@model IEnumerable<TaskAdminApi.Models.Client>
@using TaskAdminApi.Models

@{
    ViewBag.Title = "Описание";
}
<h2>Описание</h2>
<td>Данный демонстрационный проект представляет собой веб-приложение, имитирующее структуру небольшого предприятия.</td>

@*model IEnumerable<Test.Models.Employee>
    
    @using Test.Models
    @model IndexViewModel

    @{
        ViewBag.Title = "Все исполнители";

    }
    <form method="get">
        <div class="form-inline form-group">
            <label class="control-label">Фамилия: </label>
            <input name="name" class="form-control" />
            <label class="control-label">Задачи: </label>
            <select name="id" asp-items="@ViewBag.TasksList" class="form-control"></select>
            <input type="submit" value="Найти" />
        </div>
    </form>

    <table class="table">
        <tr><td>Фамилия исполнителя:</td><td>Имя исполнителя:</td><td>Отчество:</td><td>Должность:</td><td>Отдел:</td><td>Действия:</td></tr>
        @foreach (var item in Model.Employees)
        {

            <tr>
                <td>@item.Employee_Last_Name</td>
                <td>@item.Employee_Name</td>
                <td>@item.Employee_Middle_Name</td>
                <td>@item.Position.Position_Name</td>
                <td>@item.Position.Department.Department_Name</td>


                <td>

                    <a asp-action="EmployeeEdit" asp-controller="Employee" asp-route-id="@item.Id">Изменить</a> |
                    <a asp-action="EmployeeDelete" asp-controller="Employee" asp-route-id="@item.Id">Удалить</a>|
                    <a asp-action="EmployeeDetails" asp-controller="Employee" asp-route-id="@item.Id">Детали</a>

                </td>

            </tr>
        }
    </table>
    @if (Model.PageViewModel.HasPreviousPage)
    {
        <a asp-action="ViewEmployees"
           asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
           class="btn btn-outline-dark">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Назад
        </a>
    }
    @if (Model.PageViewModel.HasNextPage)
    {
        <a asp-action="ViewEmployees"
           asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
           class="btn btn-outline-dark">
            Вперед
            <i class="glyphicon glyphicon-chevron-right"></i>
        </a>
    }*@
