@model TaskAdminApi.Models.ServicesForClient
@using TaskAdminApi.Models
<input type="hidden" value="@Model.ServiceId" name="service_id" />
<input type="hidden" value="@Model.ClientId" name="client_id" />
<div>
    <dl class="dl-horizontal">
        <dt>Наименование удаляемой услуги:</dt>
        <dd>
            @Html.DisplayFor(model => model.Service.Service_Name)
        </dd>
    </dl>
</div>
<form asp-controller="Client" asp-action="ServiceClientDelete" asp-route-client_id="@Model.ClientId" asp-route-service_id="@Model.ServiceId" method="post">
      <div class="form-group">
           <input type="submit" value="Удалить" />
      </div>
</form>
   
