
@model TaskAdminApi.Models.ServicesForClient
<div>
        <dl class="dl-horizontal">
            <dt class="text-black h3">
                @ViewBag.Name (@Model.Client.Client_Name)
            </dt>
        </dl>
    </div>
<form asp-action="ServiceClientEdit" asp-controller="Client">
    <input type="hidden" value="@Model.ServiceId" name="service_id" />
    <input type="hidden" value="@Model.ClientId" name="client_id" />
    <div>
        <table class="table">
            <tr>
                <td>
                    <label asp-for="Client_Service_Beginning_Date" class="control-label"></label>
                </td>
                <td>
                    <input class="form-control" asp-for="Client_Service_Beginning_Date" asp-format="{0:yyyy-MM-ddTHH:mm}" />
                </td>
                <td>
                    <label asp-for="Client_Service_Ending_Date" class="control-label"></label>
                </td>
                <td>
                    <input class="form-control" asp-for="Client_Service_Ending_Date" asp-format="{0:yyyy-MM-ddTHH:mm}" />
                </td>
                <td>
                    <label asp-for="Service_Time_Hours" class="control-label"></label>
                </td>
                <td>
                    <input type="text" class="form-control" asp-for="Service_Time_Hours" />
                </td>
            </tr>
            <tr>
                <td>
                    Услуга оплачена:
                </td>
                <td>
                    @Html.CheckBox("Service_Status_Pay", @Model.Service_Status_Pay)
                </td>
            </tr>
            <tr>
                <td>
                    Услуга выполнена:
                </td>
                <td>
                    @Html.CheckBox("Service_Status_Complete", @Model.Service_Status_Complete)
                </td>
            </tr>
        </table>
        <div class="editor-label">
            <label asp-for="Client_Service_Beginning_Date" class="editor-label"></label>
        </div>
    </div>
    <div>
        <input type="submit" class=" btn btn-outline-dark" value="Сохранить" />
        <a asp-action="ServiceClientDelete" asp-controller="Client" asp-route-client_id="@Model.ClientId" asp-route-service_id="@Model.ServiceId">
            <span class="btn btn-outline-dark">Удалить связку</span>
        </a>
    </div>
</form>
