@model IndexViewModel
@using TaskAdminApi.Models

<form method="get" >
        <table class="table">
            <tr>
                <td align="right"><label class="control-label">Клиент:</label></td>
                <td><input name="name" class="form-control" /></td>
                <td align="right"><label class="control-label">Услуги:</label></td>
                <td><select name="id" asp-items="@ViewBag.ServicesList" class="form-control"></select></td>
                <td><input class="btn btn-outline-dark" type="submit" value="Найти"/></td>
            </tr>
        </table>
    </form>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Клиент:</th>
            <th>Контактное лицо:</th>
            <th>Контактный телефон:</th>
            <th>Почта:</th>
            <th>Список услуг:</th>
            <th>Статус выполненения:</th>
            <th>Статус оплаты:</th>
            <th>Действия:</th>
        </tr>
    </thead>
    <tbody>

     @foreach (var item in Model.Clients)
        {
             <tr>

                 <td>@item.Client_Name</td>

                 <td>@item.Client_Contact_Person</td>
                 <td>@item.Client_Contact_Phone</td>
                 <td>@item.Client_Contact_Email</td>
                 <td>
                     <ul>
                         @foreach (var i in item.Services)
                         {

                             <li><a asp-action="ServiceClientEdit" asp-controller="client" asp-route-client_id="@item.Id" asp-route-service_id="@i.Id" asp-route-service_name="@i.Service_Name">@i.Service_Name</a></li>

                         }
                     </ul>
                 </td>

                 <td>
                     <ul>
                         @foreach (var i in item.ServicesForClients)
                         {

                             @if (@i.Service_Status_Complete == true)
                             {
                                 <li> выполнено</li>
                             }
                             else
                             {
                                 <li> не выполнено</li>
                             }


                         }
                     </ul>
                 </td>

                 <td>
                     <ul>
                         @foreach (var i in item.ServicesForClients)
                         {

                             @if (@i.Service_Status_Pay == true)
                             {
                                 <li> оплачено</li>
                             }
                             else
                             {
                                 <li> не оплачено</li>
                             }

                         }
                     </ul>
                 </td>

                 <td>
                     <a asp-action="ClientEdit" asp-controller="client" asp-route-id="@item.Id">Изменить</a> |
                     <a asp-action="ClientDelete" asp-controller="client" asp-route-id="@item.Id">Удалить</a>
                 </td>

             </tr>
         }
    </tbody>
</table>


    @if (Model.PageViewModel.HasPreviousPage)
    {
        <a asp-action="ViewClients"
           asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
           class="btn btn-outline-dark">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Назад
        </a>
    }
    @if (Model.PageViewModel.HasNextPage)
    {
        <a asp-action="ViewClients"
           asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
           class="btn btn-outline-dark">
            Вперед
            <i class="glyphicon glyphicon-chevron-right"></i>
        </a>
    }
