
@model IndexViewModel
@using TaskAdminApi.Models

@{
    ViewBag.Title = "Все услуги";

}


<table class="table table-striped table-bordered">
    <tr>
        <th>Услуга:</th>
        <th>Опсиание:</th>
        <th>Используют клиенты:</th>
        <th>Действия:</th>
    </tr>
    @foreach (var item in Model.Services)
    {

     <tr>
    <td>@item.Service_Name</td>
    <td>@item.Service_Description</td>
     <td>
         <ul>
             @foreach (var c in item.Clients)
             {

                
                 <li><a asp-action="ClientDetails" asp-controller="client" asp-route-id="@c.Id">@c.Client_Name</a></li>

             }
         </ul>
        </td>
    
    <td>

        <a asp-action="ServiceEdit" asp-controller="service" asp-route-id="@item.Id">Изменить</a> |
        <a asp-action="ServiceDelete" asp-controller="service" asp-route-id="@item.Id">Удалить</a>|

    </td>

</tr>
    }
</table>

@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="ViewServices"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       class="btn btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="ViewServices"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       class="btn btn-outline-dark">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}

